
name: github-secret-trigger

permissions:
  contents: read

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      Mood:
        type: choice
        description: 'A non-secret input'
        options:
          - happy
          - sad
          - meh
        required: true
      Reason:
        type: string
        description: 'How are you feeling today?'
        required: false

    # secrets:
    #   FAVOURITE_NAME:
    #     description: What is your favourite name?
    #     required: true

jobs:
  job-1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Self
        uses: actions/checkout@v4
      - name: print state
        run: |
          echo "::group::working directory"
          echo "::debug::pwd called"
          echo -e "\e[31mThis is red text\e[0m"
          echo -e "This is \033[36mcyan text\033[0m"
          pwd
          echo "::endgroup::"

          echo "::group::list content"
          echo "::notice::list called"
          ls -a
          echo "::endgroup::"

          echo "::group::list workflows"
          echo "::warning::list workflows called"
          echo "::error::it failed"
          ls .github/workflows -a
          echo "::endgroup::"
    
  job-2:
    uses: ./.github/workflows/secret-test.yml
    needs: job-1
    with:
      non-secret-input: value is 12
      secret-input: ${{ secrets.FAVOURITE_NAME }}
      mood: ${{ inputs.Mood || 'happy' }}
      reason-for-mood: ${{ inputs.Reason }}
    secrets:
      FAVOURITE_NAME: ${{ secrets.FAVOURITE_NAME }}