
name: github-secret-test

on: 
  workflow_call:
    inputs:
      non-secret-input:
        type: string
        description: 'A non-secret input'
        required: true
      mood:
        type: string
        description: 'How are you feeling today?'
        required: false
        default: 'happy'
    secrets:
      secret-input:
        description: 'A secret input'
        required: true
      reason-for-mood:
        description: 'Why are you feeling this way?'
        required: false


jobs:
  print-affirmation:
    runs-on: ubuntu-latest
    steps:
      - name: print affirmation
        run: |
          echo "${{ github.actor }} feels ${{ inputs.Mood }}"
          sleep 2
          echo "${{ inputs.reason-for-mood != '' && format('{0} said the reason was: {1}', github.actor, inputs.reason-for-mood) || 'consider asking what is wrong' }}"