
name: github-secret-test

on: 
  workflow_call:
    inputs:
      non-secret-input:
        type: string
        description: 'A non-secret input'
        required: true
      mood:
        type: string
        description: 'How are you feeling today?'
        required: false
        default: 'happy'
      secret-input:
        type: string
        description: 'A secret input'
        required: true
      reason-for-mood:
        type: string
        description: 'Why are you feeling this way?'
        required: false


jobs:
  print-affirmation:
    runs-on: ubuntu-latest
    steps:
      - name: print affirmation
        run: |
          echo "${{ github.actor }} feels ${{ inputs.Mood }}"
          sleep 2