
name: github-secret-trigger

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      Mood:
        type: choice
        description: 'A non-secret input'
        options:
          - happy
          - sad
          - meh
        required: true
      Reason:
        type: string
        description: 'How are you feeling today?'
        required: false

    # secrets:
    #   FAVOURITE_NAME:
    #     description: What is your favourite name?
    #     required: true

jobs:
  verify-mood:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Self
        uses: actions/checkout@v4
      - name: print state
        run: |
          echo "::group::working directory"
          pwd
          echo "::endgroup::"

          echo "::group::list content"
          ls -a
          echo "::endgroup::"

          echo "::group::list workflows"
          ls .github/workflows -a
          echo "::endgroup::"
      - name: Verify Mood
        uses: ./.github/workflows/secret-test.yml
        with:
          non-secret-input: value is 12
          secret-input: ${{ secrets.FAVOURITE_NAME }}
          mood: ${{ inputs.Mood || 'happy' }}
          reason-for-mood: ${{ inputs.Reason }}